*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.app{
  background-image: url("./assets/my-bg.jpg");
  background-size: cover;
  background-position:bottom;
  transition: 0.4 ease-out;
}
body{
  font-family: "monstseratt", sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}

h1{
  margin:25px;
  padding:25px;
  margin-bottom: 1.0rem;
  font-family: "monstseratt", sans-serif;


}

.input{
  border: 1px solid #333;
  border-radius: .3em;
  padding: .25rem;
  width: 7em;
}

select {
  
  margin:20px;
  padding:5px;
  margin-bottom: 1.0rem;
}

.equals{
  font-weight:bold;
  font-size: 2rem;
}